 body {
     margin: 0;
     padding: 0;
     /* color: white; */
     box-sizing: border-box;
     font-family: monospace;
     font-size: 15px;
 }

 /* p {
     background-color: black;
 } */

 .grid-container {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 50px 1fr 50px;
     grid-template-areas: 'header' 'main';
     height: 100vh;
 }

 .header {
     grid-area: header;
     background-color: whitesmoke;
 }

 .aside {
     grid-area: aside;
     background-color: #31A2B8;
 }

 .main {
     grid-area: main;
     padding: 0 40px;
 }

 /* flexing header and footer*/

 .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: darkblue;
     padding: 0 15px;
 }

 /* flexing aside */

 .aside {
     display: flex;
     flex-direction: column;
     height: 100%;
     width: 240px;
     position: fixed;
     overflow-y: auto;
     z-index: 2;
     transform: translateX(-245px);
 }

 .aside.active {
     transform: translateX(0);
 }

 .aside_list {
     padding: 0;
     margin-top: 85px;
     list-style-type: none;
 }

 .aside_list-item {
     padding: 20px 20px 20px 40px;
     color: #fff;
 }

 .aside_list-item>.subitem {
     display: none;
 }

 .aside_list-item:hover {
     background-color: darkblue;
     cursor: pointer;
 }

 /* Layout for main content overview  and its cards*/

 .main_overview {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin: 20px 5px;
 }

 /* responsive layout */

 @media only screen and (min-width: 750px) {
     .grid-container {
         display: grid;
         grid-template-columns: 240px 1fr;
         grid-template-rows: 50px 1fr 50px;
         grid-template-areas: 'aside header' 'aside main' 'aside footer';
         height: 100vh;
     }
     .aside {
         display: flex;
         flex-direction: column;
         position: relative;
         transform: translateX(0);
     }
     .main_cards {
         margin: 10px;
         display: grid;
         /*grid-template-columns: 2fr 1fr;*/
         grid-template-columns: 3fr;
         grid-template-rows: 200px 300px;
         grid-template-areas: 'card1 card2' 'card1 card3';
         grid-gap: 10px;
     }
 }

 .menu-icon {
     position: fixed;
     display: flex;
     top: 2px;
     left: 8px;
     align-items: center;
     justify-content: center;
     z-index: 1;
     cursor: pointer;
     padding: 12px;
     color: black;
 }

 .header_search {
     margin-left: 24px;
 }

 .aside_close-icon {
     position: absolute;
     visibility: visible;
     top: 20px;
     right: 20px;
     cursor: pointer;
 }

 @media only screen and (min-width: 750px) {
     .aside_close-icon {
         display: none;
     }
 }

 ul.subitem {
     list-style: none;
 }

 /* style links */

 a {
     text-decoration: none;
 }